
<div class="wrapper mt-1">
    <div class="row">
        <div class="col">
            <ul class="list-inline rating-list" *ngFor="let star of stars; let i=index"
            style="display: inline-block">
            <!-- <li (click)="countStar(star)" id="{{'starId' + i}}" [ngClass]="{'selected': (star <= selectedValue)}"
                (mouseover)="addClass(star)" (mouseout)="removeClass(star)"><i class="fa fa-star"></i></li> -->
                <li (click)="countStar(star)"
                [ngClass]="{'selected': (star <= selectedValue)}"><i class="fa fa-star"></i>
            </li> 
        </ul>
    </div>
</div>
</div>