<div class="container-fluid m-1 ">
<!-- <div class="wrapper"> -->
    <div class="">
            <div class="row" *ngIf="cartService.cart.length > 0; else elseBlock">

                <div class="col m-1"  *ngFor="let item of cartService.cart">
                    <app-reserved-trip [trip] = item.trip></app-reserved-trip>    
                </div>

            </div>
            <ng-template #elseBlock>
                <div class="col buy border border-3 border-success m-1 text-success d-flex justify-content-center">
                    No items in cart
                </div>
            </ng-template>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">

        <div class="row">
            <div class="col buy border border-3 border-primary m-1 text-primary d-flex justify-content-center ">
                Summary order value: {{cartService.getCartFinalValue()}}
            </div>
        </div>

        <div class="row buy ">
            <div class="col border border-3 border-primary m-1 text-primary d-flex justify-content-center align-items-center">
                Buy choosen trips:
                <button class="btn btn-primary ms-1" (click)="onBuyClick()">Buy</button>
            </div>
        </div>
    </div>
<!-- </div>        -->
</div>