.page-link{
    cursor: pointer;
}select{
    width: 50px;
}
*{
    /* border: 1px solid black; */
    margin: 0;
}
.container-fluid{
    background-color: rgba(95, 185, 170, 0.205);
    border-radius: 10px;
    /* height: 100vw; */
    height: fit-content;
}