<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="wrapper">

                <header class="display-2 bold text-primary">Traveluss</header>
                <header class="display-6">The best travel agency</header>
            </div>
            <div class="wrapper">

                <header class="display-6">Contact us</header>
                <p><i class="fa fa-envelope"></i>info&#64;traveluss.com</p>
                <header class="display-6">Find us online</header>
                <div class="socials">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="wrapper">
                <header class="display-5">Where to find us?</header>
                <iframe class="m-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.091575644511!2d19.920251576074115!3d50.06584661498207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba716a39a4b%3A0x11d137e3b938f290!2sAGH%20C2!5e0!3m2!1sen!2spl!4v1703617065476!5m2!1sen!2spl" width="600" height="450"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>
        </div>
    </div>
</div>